@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

h1 {
  font-weight: 900;
}

h3 {
  font-weight: 700;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #081b29;
}

@layer components {
  .cover-left {
    z-index: -1;
  }
  .cover-right {
  }
  .wrapper {
    @apply relative w-[66rem] h-[45rem] p-8;
  }
  .cover {
    @apply absolute w-1/2 h-full rounded-tl-lg-6 rounded-bl-lg-6 origin-right bg-lngradient-45;
    box-shadow: linear-gradient(90deg, #fff, #ddd);
    top: 0;
    left: 0;
  }
  .cover.cover-right.turn {
    transform: rotateY(180deg);
  }
  .book {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
  }
  .book-page {
    position: absolute;
    width: 50%;
    height: 100%;
    box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 2rem;
    background: linear-gradient(85deg, #fff 64%, #eee);
  }
  .profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-page h1 {
    font-size: 2rem;
    line-height: 0.5;
  }
  .profile-page .social-media a {
    display: inline-flex;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 2px solid black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 0.2rem;
    transition: 0.5s;
  }
  .profile-page .social-media a:hover {
    background: black;
    color: white;
  }
  .profile-page .social-media {
    margin: 0.6rem 0 0.8rem;
  }
  .profile-page p {
    text-align: justify;
  }
  .btn-box {
    display: inline-flex;
    margin-top: 1.2rem;
  }
  .btn-box .btn {
    margin: 0 1rem;
    display: inline-flex;
    width: 9.5rem;
    height: 3rem;
    background: transparent;
    color: black;
    font-weight: 500;
    border-radius: 0.3rem;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transition: 0.5s;
  }
  .btn-box .btn:nth-child(1):hover,
  .btn-box .btn:nth-child(2):hover {
    background: black;
    color: white;
  }
  .book-page.page-right {
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    transform-origin: left;
  }

  .book-page.page-right.turn {
    transform: rotateY(180deg);
  }

  .book-page .page-front,
  .book-page .page-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    padding: 1.5rem 2rem;
  }

  .book-page .page-front {
    transform: rotateY(0deg) translateZ(1px);
  }

  .book-page .page-back {
    transform: rotateY(180deg) translateZ(1px);
  }

  .workeduc-content .year {
    position: relative;
    color: black;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .workeduc-box .workeduc-content {
    /* background: seagreen; */
    padding-left: 1.6rem;
    margin-bottom: 1.2rem;
    border-left: 2px solid #006e9a;
  }
  .workeduc-box .workeduc-content::before {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background: #006e9a;
    border-radius: 50%;
    left: 1.44rem;
  }
  .number-page {
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    font-weight: 900;
  }
  .nextprev-btn {
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: 0.9rem;
    right: 1.5rem;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nextprev-btn:hover {
    color: #006e9a;
  }
  .nextprev-btn.back {
    left: 1.5rem;
  }
  .tagElement-a {
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 2px solid black;
    border-radius: 50%;
  }
}
.image {
  max-width: 180px;
  border-radius: 50%;
  border: 0.25rem solid black;
  margin-bottom: 0.8rem;
}
